<section class="container">
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-6 d-none d-md-flex justify-content-center align-item-center">
            <img class="stock-img" src="'../../../assets/images/app.svg" alt="app">
        </div>
        <div class="col-sm-12 col-md-6 flex-center-row">
            <h1><strong>MOTOR INSURANCE CUSTOMER RISK SCORE APP</strong></h1>
            <h1><strong>BY Ruchira Dias</strong></h1>
        </div>
    </div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-sm-12 col-md-6 order-last order-md-first flex-center-col">
            <h2>Insurance</h2>
            <p>The insurance industry is a crucial part of the global economy, providing individuals, businesses, and organizations with protection against financial losses due to unforeseen events. The industry offers a wide range of products and services, including life insurance, health insurance, property and casualty insurance, and liability insurance. The Sri Lankan insurance market is primarily dominated by life insurance, but non-life insurance products such as health, property, and motor insurance are gaining traction. The industry is highly regulated by the Insurance Regulatory Commission of Sri Lanka, and the market has seen an influx of foreign insurers, increasing competition and driving innovation. Despite challenges such as low insurance penetration rates and a lack of public awareness, the Sri Lankan insurance industry is expected to experience continued growth and development in the coming years.</p>
        </div>
        <div class="col-sm-12 col-md-6 flex-center">
            <img class="stock-img" src="'../../../assets/images/towing.svg" alt="insurance">
        </div>
    </div>
</section>